html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100svh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 4rem 0;
  width: calc(100% - 2rem);
  max-width: 80rem;
}
header .container {
  padding: 3rem 0;
}

footer .container {
  padding: 2rem 0;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
h1.title-case {
  text-transform: capitalize;
}

a.link-stealth {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: oklab(59.785% 0.21041 0.11537);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}
button:hover {
  background-color: color-mix(in oklab, oklab(59.785% 0.21041 0.11537) 75%, oklab(20% 0 0));
}
